{{define "register"}}
<h1>Welcome {{.Username}} to the new generation of Modeling!</h1>
<p>Thank you for registering to Archytex!</p>
To activate your account, <a href="{{.Link}}">CLICK HERE</a>!

<sub>If you can't click the link above, copy this link into your address bar {{.Link}}</sub>
{{end}}